.team-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.team-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15);
}
.team-image-wrapper {
  background-color: #e5e7eb;
}
.team-info {
  transition: border-color 0.3s ease;
  background-color: rgba(244, 244, 245, 1);
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-card:hover .team-info {
  border-bottom-color: #15803d;
}
.team-name {
  line-height: 1.3;
  font-size: 18px;
  font-family: var(--font-bold);
}
.team-position {
    font-size: 12px;
    line-height: 12.44px;
}

/* Dark Mode */
.dark-mode .team-image-wrapper {
  background-color: #374151;
}
.dark-mode .team-info {
  background-color: #1f2937;
  border-bottom-color: var(--pry-color);
}
.dark-mode .team-card:hover .team-info {
  border-bottom-color: #34d399;
}
.dark-mode .team-name {
  color: #f3f4f6;
}
.dark-mode .team-position {
  color: #d1d5db;
}