.section-divider-wrapper > div {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 48px auto;
    color: var(--pry-color);
    font-family: var(--font-bold);
    font-size: 24px;
}
hr.section-divider {
    height: 2px;
    border: none;
    background-color: var(--pry-color);
    width: 100%;
}
.section-divider-wrapper span {
    min-width: fit-content;
}
.sdg-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.objetives-list-side {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.objective-item {
    position: relative;
}
.objective-number {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 5;
    background-color: var(--sec-color);
    color: var(--pry-color);
    font-size: 48px;
    font-family: var(--font-bold);
    display: flex;
    align-items: center;
    justify-content: center;
}
.objective-txt {
    position: absolute;
    background-color: var(--pry-color);
    color: white;
    border-radius: 60px;
    font-size: 16px;
    width: 90%;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px 30px;
    padding-left: calc(5% + 50px);
    z-index: 2;
}

@media (max-width: 640px) {
    .objetives-list-side {
        gap: 20px;
    }
    .objective-number {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .objective-item:nth-child(even) .objective-number {
        margin-left: auto;
    }
    .objective-txt {
        position: relative;
        transform: none;
        top: 0;
        padding-left: calc(5% + 50px);
        width: 91%;
    }
    .sdg-grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
    .objective-number {
        width: 80px;
        height: 80px;
        font-size: 40px;
    }
}